<!DOCTYPE html>
<html lang="en">

{{ template "header.html" . }}

<body class="p-3">
    <h1>Web Analyser</h1>

    <p>Please enter a valid URL and click on the 'Analyse' button to analyse the url's HTML content.</p>
    <p>Note that the entire url along with the scheme needs to be inserted (i.e. https://www.google.com is
        valid but www.google.com is not valid)</p>

    {{ template "form.html" . }}

    {{ if .warning }}
    <p class="alert alert-warning m-3">{{ .warning }}</p>
    {{ end }}

    {{ template "result.html" . }}

</body>

{{ template "footer.html" }}

</html>