{{ if .displayResult }}
<table>
  <tr>
    <th>HTML Version</th>
    <td>{{ .htmlVersion }}</td>
  </tr>
  <tr>
    <th>Page Title</th>
    <td>{{ .pageTitle }}</td>
  </tr>
  <tr>
    <th>Headings</th>
    <td>
      {{ .h1Count }} &lt;h1/&gt; Heading(s)
      <br />
      {{ .h2Count }} &lt;h2/&gt; Heading(s)
      <br />
      {{ .h3Count }} &lt;h3/&gt; Heading(s)
      <br />
      {{ .h4Count }} &lt;h4/&gt; Heading(s)
      <br />
      {{ .h5Count }} &lt;h5/&gt; Heading(s)
      <br />
      {{ .h6Count }} &lt;h6/&gt; Heading(s)
      <br />
    </td>
  </tr>
  <tr>
    <th>Unaccessible Internal Links ({{ .unaccessibleInternalLinkCount }})</th>
    <td>
      {{ range $val := .unaccessibleInternalLinks }}
      <a href="{{ $val }}">{{ $val }}</a>
      <br />
      {{ end }}
    </td>
  </tr>
  <tr>
    <th>Accessible Internal Links ({{ .accessibleInternalLinkCount }})</th>
    <td>
      {{ range $val := .accessibleInternalLinks }}
      <a href="{{ $val }}">{{ $val }}</a>
      <br />
      {{ end }}
    </td>
  </tr>
  <tr>
    <th>External Links ({{ .externalLinkCount }})</th>
    <td>
      {{ range $val := .externalLinks }}
      <a href="{{ $val }}">{{ $val }}</a>
      <br />
      {{ end }}
    </td>
  </tr>
  <tr>
    <th>Form Element</th>
    <td>
      {{ if .containsForm }}
      Available
      {{ else }}
      Unavailable
      {{ end }}
    </td>
  </tr>
</table>
{{ end }}